* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.galleryPack{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 30px;
    overflow: hidden;
}
.galImg{
    width: 100%;
    height: 300px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top:255%;
  width: auto;
  padding: 25px;
  color: #717171;
  font-size: 48px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left:0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}